.form-wrapper-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80rem;
}

.header-container-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  color: black;
}

.header-5 {
  display: flex;
  margin: 0;
  padding: 0;
  color: black;
}

.form-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
  margin: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

label,
.imageUrl-header {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #0a0a23;
}

.description-input,
.city-input,
.country-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 5px;
  font-size: 14px;
}

.description-input {
  height: 200px
}

.button-container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
}

.button-submit-1,
.button-add-image,
.button-remove-image {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 150px;
}

.button-submit-1:hover,
.button-add-image:hover,
.button-remove-image:hover {
  transform: scale(1.05);
}

.button-submit-1:hover {
  background-color: rgb(132, 235, 132);
}

.button-remove-image:hover {
  background-color: rgb(248, 132, 132);
}

.image-url-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150%;
  margin: 5px;
}

.image-url-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.imageUrl-header {
  display: flex;
  justify-content: left;
  align-items: center;
}

@media (max-width: 600px) {
  .form-wrapper-5 {
    height: 58rem;
  }

}