html,
body {
  height: 100%;
  margin: 0;
  background-color: #eae6da;
  /* remove default margin */
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #da9b68;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #eae6da;
  width: 400px;
  height: 500px;
  margin: 200px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label1,
.label2 {
  text-align: center;
}

.input1,
.input2 {
  border-radius: 5px;
  height: 40px;
}

.button-login {
  border: none;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border-radius: 2px;
  background-color: #da9b68;
  margin-top: 20px;
}

.button-login:hover {
  background-color: rgb(126, 157, 126);
  transform: scale(1.05);
}

@media (max-width: 600px) {

  .login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #da9b68;
    align-items: center;
    height: 65rem;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #eae6da;
    width: 300px;
    height: 500px;
    margin: 200px;
  }

}