body {
  overflow-y: scroll;
  /* Always show scrollbar, even when not needed */
}

.header-container {
  display: flex;
  margin: 0 auto !important;
  width: 100% !important;
  background: #eae6da !important;
}

.destination-button:hover {
  transform: scale(1.05);
}