.image-carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.image-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px;
  max-width: 80vw;
}

.carousel-image {
  height: 150px;
  border-radius: 10px;
  flex-shrink: 0;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.arrow-button.left {
  margin-right: 10px;
}

.arrow-button.right {
  margin-left: 10px;
}