.container-all {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.button-container10 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container-8 {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
  height: 500px;
  background-color: #da9b68;
  backdrop-filter: blur(10px);
}

.button-post {
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 500px;
  height: 100px;
  background-color: #da9b68;
  color: white
}

.button-post:hover {
  transform: scale(1.05);
}

.container-4 {
  display: flex;
  width: 90%;
  margin: 0 auto;
  background-color: #eae6da;
  height: 800px;
  justify-content: center;
  gap: 40px;
  padding: 100px
}

.headers-5 {
  color: #cd3c2a
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 2%;
  border: none;
}

.image-header-2 {
  display: flex;
  max-width: 300px;
  height: 500px;
  max-height: 600px;
  border-radius: 50px;
}

.image-header-2:hover {
  transform: scale(1.01);
}


.image-carousel {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: 10px;
  max-width: 50vw;
}

.container-header-10 {
  display: flex;
  background-color: white;
  justify-content: center;
}

.h1-10 {
  color: black;
}

.carousel-image {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  flex-shrink: 0;
  cursor: pointer;
}

.carousel-image:hover {
  transform: scale(1.01);
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

.arrow-button.left {
  margin-right: 10px;
}

.arrow-button.right {
  margin-left: 10px;
}

.moreInfo-button,
.new-post-button,
.like-button-button,
.dis-like-button-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  /* Add padding to make the button larger */
  background-color: #DA9b68;
  /* Optional: red background to signify deletion */
  color: white;
  /* White text */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Make it appear clickable */
  border-radius: 5px;
}

.button-container-1,
.button-container-3,
.like-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.button-container-1:hover,
.new-post-button:hover {
  transform: scale(1.05);
}

.like-button-button:hover,
.dis-like-button-button:hover {
  transform: scale(1.05);
}

.like-button-button:hover {
  background-color: green;
}

.dis-like-button-button:hover {
  background-color: red;
}

.information-d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container-3 {
  margin-top: 40px;
}

.new-post-container {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  background: white
}

.middle-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 1000px;
  background-color: #da9B68;
}

.middle-container-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

.container-h1 {
  display: flex;
  width: 800px;
  margin-right: 20%
}

@media (max-width: 600px) {
  .container-4 {
    flex-direction: column;
    height: auto;
    /* avoid fixed height */
    padding: 20px;
    /* less padding */
  }

  .image-header-2,
  .carousel-image {
    max-width: 90vw;
    /* almost full viewport width */
    height: auto;
    border-radius: 20px;
    /* slightly smaller radius for small screens */
  }

  .headers-5 {
    text-align: center;
  }

  .carousel-image {
    width: 90vw;
    cursor: pointer;
    height: auto;
  }
}