.container-all-2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #da9b68;
}

.images-show {
  display: block;
  /* Ensures the image is treated as a block element */
  margin-left: auto;
  /* Centers the image horizontally */
  margin-right: auto;
  /* Centers the image horizontally */
  width: 80%;
  /* Adjust the width as per your preference (100% for full width) */
  height: auto;
  /* Maintains the aspect ratio of the image */
  object-fit: cover;
  /* Ensures the image fills the container without distortion */
}

.place-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.description {
  display: block;
  /* Ensures the image is treated as a block element */
  margin-left: auto;
  /* Centers the image horizontally */
  margin-right: auto;
  /* Centers the image horizontally */
  width: 80%;
  /* Adjust the width as per your preference (100% for full width) */
  height: auto;
  /* Maintains the aspect ratio of the image */
  object-fit: cover;
  /* Ensures the image fills the container without distortion */
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.button-delete {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  /* or adjust width as needed */
  padding: 10px 20px;
  /* Add padding to make the button larger */
  background-color: #cd3c2a;
  /* Optional: red background to signify deletion */
  color: white;
  /* White text */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Make it appear clickable */
  border-radius: 5px;
  /* Optional: rounded corners */
}

.button-delete:hover {
  transform: scale(1.05);
}

.button-add-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.button-add-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 25px;
  background-color: #eae6da;
  color: #cd3c2a;
}

.button-add-button:hover {
  transform: scale(1.05);
}

.navigate-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.navigate-images {
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  background-color: #eae6da;
  color: #cd3c2a;
}

.navigate-images:hover {
  transform: scale(1.05);
}

.image-carousel-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-image {
  height: 300px;
  width: 500px;
}

.container-middle-2 {
  display: flex;
  justify-content: center;
  height: 400px;
}

.placeName-inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.placeName-inputs {
  display: flex;
  justify-content: center;
  flex-direction: row !;
  align-items: center;
  gap: 20px;
}

.input-field-1 {
  display: flex;
  justify-content: center;
  width: 100px;
  border: none;
  border-radius: 2px;
}

.input-field-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.input-field-2:hover {
  transform: scale(1.05);
}

.button-container-2 {
  display: flex;
  flex-direction: row !;
}