.image-url-name {
  display: flex;
  justify-content: center;
  align-items: center;
}


.button-containers-end {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.button-look,
.button-look2,
.button-look3 {
  display: flex;
  cursor: pointer;
  justify-content: center;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin-top: 20%;
  align-items: center;
}

.button-look:hover,
.button-look2:hover,
.button-look3:hover {
  transform: scale(1.05);
}

.button-look3 {
  background-color: rgb(41, 184, 41)
}

.button-look3:hover {
  background-color: rgb(94, 237, 103)
}

.button-hide-2 {
  background-color: rgb(246, 95, 95);
  margin-top: 20%;
  width: 800px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  height: 50px;
}


.button-hide-2:hover {
  background-color: rgb(246, 183, 183);
}