.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container h1 {
  color: black;
}

.main-container button {
  width: 50rem;
  height: 5rem;
  font-size: 30px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: bisque;
  margin-bottom: 10rem;
}

.main-container button:hover {
  transform: scale(1.01);
  background-color: rgb(153, 232, 153);
}