html,
body {
  min-height: 150vh;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #eae6da;
  scroll-behavior: smooth;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #eae6da;
}

.main-content {
  flex-grow: 1;
  padding-top: 120px;
  background-color: #eae6da;
}