.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eae6da;
  padding: 20px 0;
  color: #cd3c2a;
  text-align: center;
}

.footer-words {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #cd3c2a;
}

.footer-container link {
  display: flex;
  flex-direction: column;
}


.footer-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 30px;
  color: inherit;
  font-size: 17px;
}

.footer-container a:hover {
  text-decoration: underline;
}

.link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px
}