.settings-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  color: black;
  position: relative;
}

.input-settings {
  display: flex;
  justify-content: center;
}

.upload-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.upload-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.close-button-button,
.upload-image-button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}


.close-button-button:hover {
  transform: scale(1.02);
  background-color: red;
}

.upload-image-button:hover {
  transform: scale(1.02);
  background-color: green;
}

.input-field-button {
  display: inline-block;
  width: 300px;
  height: 100px;
  background-color: #4a90e2;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input-field-button:hover {
  background-color: #357ab8;
}