.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  margin: 0 auto;
  height: 1200px;
  flex-direction: column;
  flex: 1;
  background-color: #da9b68;
}

.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eae6da;
  width: 400px;
  height: 400px;
  border-radius: 20px;
}